body {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    /* overflow: hidden; */
    display: grid;
    grid: 'left right';
}
.links {
    position: fixed;
    width: 30%;
    top: 1%;
    left: 1%;
    height: 50px;
    z-index: 1;
}
.links a {
    left: 0;
    background-color: rgb(0, 255, 255, 0.7);
    line-height: 50px;
    padding: 2% 8%;
    text-align: center;
    border-radius: 15px;
    text-transform: uppercase;
    transition: 1s ease;
    text-decoration: none;
    letter-spacing: 2px;
    font-family: 'Michroma', sans-serif;
    color: #000;
}
.links a:hover {
    cursor: pointer;
    background-color: rgb(0, 255, 255, 1);
    letter-spacing: 5px;
}

#right,
#left {
    height: 100%;
    width: 100%;
}
#right {
    /* background: #fff; */
    background-image: url(/static/img/_Ender_Night_Logo.png);
    background-repeat: no-repeat;
    background-size: 95%;
    background-position: center;
    opacity: 0.15;
}
#left {
    /* background: violet; */
    background-image: url(/static/img/Logo_PapyRuss_V1.png);
    background-repeat: no-repeat;
    background-size: 95%;
    background-position: center;
    opacity: 0.15;
}


.about {
    position: absolute;
    width: 80%;
    height: 100%;
    margin: auto 10vw;
    display: flex;
    align-items: center;
    align-content: center;
    z-index: 0;
}
.about .dev {
    position: relative;
    display: flex;
    overflow: ellipsis;
    color: rgb(255, 255, 255);
    font-family: 'Aldrich', sans-serif;
    justify-content: center;
    width: 25vw;
    height: 650px;
    margin: auto 7.5vw;
    border-radius: 30px;
    background: rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    transform-style: preserve-3d;
    transform: perspective(1000px);
}
.about #PapyRuss {
    box-shadow: 10px 10px 50px rgb(233, 176, 127, 0.7);
    left: 6.5%;
}
.about #EnderNight {
    box-shadow: 10px 10px 50px rgb(131, 0, 0, 0.9);
    right: 6%;
}
.about .dev .logo  {
    display: flex;
    padding: 50px;
    max-width: 400px;
    height: 400px;
    margin: 100px auto;
    opacity: 0.3;
}
.about .dev .description,
.about .dev h1 {
    position: absolute;
    text-align: center;
    width: 80%;
    padding: 0 50px;
}
.about .dev h1{
    top: 8%;
    background: rgba(0, 0, 0, 0.11);
    color: rgb(170, 170, 170);
    width: 300px;
    margin: auto 105px;
    height: auto;
    padding: 20px 0;
    border-radius: 15px;
    animation: animate 3s ease-in-out infinite;
}
#EnderNight h1 {
    border: solid rgba(131, 0, 0, 0.5);
}
#PapyRuss h1 {
    border: solid rgba(233, 176, 127, 0.5);
}
.about .dev .description {
    top: 40%;
    transform: translateZ(40px);
    font-size: 1.2em;
}

@keyframes animate {
    0%,100%{
        transform: translateZ(70px);
    }
    30%{
        transform: translateY(10px);
        transform: translateX(10px);
    }
    60%{
        transform: translateX(-10px);
        transform: translateZ(10px);
    }
}