body {
    top: 0;
    left: 0;
    position: relative;
    display: flex;
    align-content: center;
    align-items: center;
    background: #000;
    font-family: 'Aldrich', sans-serif;
}
.confirm_div {
    position: relative;
    width: 50%;
    height: auto;
    margin: 20% auto;
    border-radius: 8px;
    color: #fff;
}

.confirm_div .infos-car {
    display: flex;
    padding: 20px;
}
.left {
    margin: 0 auto;
}
.right {
    margin: 0 auto;
}

.links, .form{
    position: relative;
    color: #fff;
    text-align: center;
    backdrop-filter: blur(10px);
    margin: 0 auto;
}
.form form input {
    background: rgba(0,255,255,0.7);
    cursor: pointer;
    font-family: 'Aldrich', sans-serif;
    font-weight: 900;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
    transition: 0.5s;
}
.form form input:hover {
    background: rgba(0,255,255,1);
}
.links {
    background: rgba(0,255,255,0.7);
    text-decoration: none;
    padding: 10px;
    border-radius: 15px;
    max-width: 25%;
    cursor: pointer;
    transition: 0.5s;
}
.links:hover {
    background: rgba(0,255,255,1);
}
a {
    text-decoration: none;
    color: #000;
}

.error {
    border: solid red;
    border-radius: 15px;
    background-color: rgba(255, 0, 0, 0.322);
    max-width: 250px;
    padding: 5px 10px;
    text-align: center;
    margin: 20px auto;
}