/* ######################################### */


/* ############# FONTS ##################### */


/* ######################################### */


/*
font-family: 'Aldrich', sans-serif;
font-family: 'Audiowide', cursive;
font-family: 'Days One', sans-serif;
font-family: 'Kavivanar', cursive;
font-family: 'Michroma', sans-serif;
font-family: 'Orbitron', sans-serif;
font-family: 'Permanent Marker', cursive;
font-family: 'Wallpoet', cursive; 
*/


/* ######################################### */

* {
    max-width: 100%;
    height: auto;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    background: #000;
}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -99;
}


/*
########################################
########## REPONSIVE TOP BAR ###########
########################################
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
.top_bar {
    top: 0;
    left: 0;
    /* background: #171c24; */
    position: fixed;
    width: 100%;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 0.1vw;
    z-index: 1;
}

.top_bar nav {
    position: relative;
    display: flex;
    max-width: calc(100% - 200px);
    margin: 0 auto;
    height: 70px;
    align-items: center;
    justify-content: space-between;
}

.logo {
    position: absolute;
    width: 170px;
    height: auto;
    margin: 0.8% 1%;
    transition: 00.3s;
    z-index: 99;
}

.logo:hover {
    width: 180px;
}

nav .top_content {
    display: flex;
    align-items: center;
}

nav .top_content .links {
    margin-left: 80px;
    display: flex;
}

.top_content .links li {
    list-style: none;
    line-height: 70px;
    text-decoration: none;
    padding: 1%;
}

.top_content .links li a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 9px 17px;
    border-radius: 8px;
    transition: all 0.3s ease;
}

.top_content .links li a:hover {
    background: rgba(255, 255, 255, 0.3);
}


/*#################################
###################################
###################################*/


.topbtn {
    position: fixed;
    color: black;
    text-transform: uppercase;
    margin: 2% auto;
    padding: 0.5% 3%;
    border: none;
    cursor: pointer;
    background: rgba(0, 255, 255, 0.788);
    transition: 0.5s;
}

.topbtn:hover {
    background: rgb(0, 255, 255);
    letter-spacing: 5px;
    transform: translateX(-10px);
}

#signupbtn {
    left: 86vw;
    font-weight: 1100;
    border-radius: 8px;
}
#logoutbtn {
    left: 86vw;
    border-radius: 8px;
}
#loginbtn {
    left: 74vw;
    border-radius: 8px;
}
#profilebtn {
    left: 72vw;
    border-radius: 8px;
}

.title {
    max-width: 47%;
    position: relative;
    margin: 5% auto;
    z-index: -99;
}

h1 {
    position: relative;
    top: 10%;
    color: rgba(0, 255, 255, 0);
    font-size: 8vw;
    font-family: 'Wallpoet', cursive;
    text-transform: uppercase;
    z-index: 1;
    -webkit-text-stroke: 0.05vw rgba(0, 255, 255, 0.5);
}

h1::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    text-shadow: 3px 3px 5px;
    left: 0;
    width: 100%;
    height: 100%;
    color: rgba(0, 255, 255, 1);
    -webkit-text-stroke: 0.1vw rgb(0, 255, 255);
    border-right: 2px solid rgb(0, 255, 255);
    overflow: hidden;
    animation: animate 2s ease;
}

@keyframes animate {
    0% {
        width: 0;
    }
    50% {
        width: 50%;
    }
    70% {
        width: 20%;
    }
    100% {
        width: 100%;
    }
}

h2 {
    color: rgb(0, 255, 255);
    position: absolute;
    text-align: center;
    margin: 0 29.6%;
    font-family: 'Audiowide', cursive;
    font-size: 2.5vw;
}

.content {
    position: absolute;
    top: 35%;
    color: aliceblue;
    position: absolute;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    max-width: 70%;
    font-family: 'Orbitron', sans-serif;
    margin: 0 auto auto 15%;
    border-radius: 8px;
}

h3 {
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 3vw;
}

.presentation {
    margin: 3% 3%;
    font-weight: 900;
    letter-spacing: 1px;
}

.paragraph {
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    text-align: justify;
}

a {
    /* text-decoration: none; */
    color: #fff;
}

/* FOOTER */

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    padding: 5px;
    background: #000;
    text-align: center;
    color: #fff;
    font-family: 'Orbitron', sans-serif;
    transition: 0.5s;
}
footer:hover {
    cursor: pointer;
    background: #fff;
    color: #000;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 10;
} 