/* ######################################### */
/* ############# FONTS ##################### */
/* ######################################### */
/*
font-family: 'Aldrich', sans-serif;
font-family: 'Audiowide', cursive;
font-family: 'Days One', sans-serif;
font-family: 'Kavivanar', cursive;
font-family: 'Michroma', sans-serif;
font-family: 'Orbitron', sans-serif;
font-family: 'Permanent Marker', cursive;
font-family: 'Wallpoet', cursive; 
*/
/* ######################################### */

body{
    background-color: rgba(0, 0, 0, 1);
    overflow: hidden; /* Hide scrollbars */
}

h1{
    color: seashell;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Aldrich', sans-serif;}
a{
  text-decoration: none;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -99;
}


/* ################ Sign Up ################ */
* {box-sizing: border-box}

p{
  color: seashell;
  font-family: 'Aldrich', sans-serif;}
b{
  font-family: 'Audiowide', cursive;
}
label{
    color: seashell;
    font-family: Arial, Helvetica, sans-serif;
}


/* Full-width input fields */
  input[type=text], 
  input[type=password], 
  input[type=email] {
  width: 25%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: rgba(255, 255, 255, 0.5);
  text-align: center;
  border-radius: 8px;
}

.fontuser { 
  position: relative;
} 
.fontuser input {
  position: relative;
  width: 25%;
  height: 45px;
  margin: 0 auto;
  text-align: center;
  z-index: 2;
  color: #000;
  border-radius: 8px;
  border: none;
}
#fontemail{ 
  position: absolute; 
  left: 39%;
  top: 55%;
  color: rgba(204, 204, 204, 0.7); 
  z-index: 1;
} 
.fontpassword{
  position: relative;
}
.fontpassword input{
  z-index: 2;
}
#fontpassword{
  position: absolute; 
  left: 39%; 
  top: 43%; 
  color: rgba(204, 204, 204, 0.7);
  z-index: 1;
}
.fontpassword_repeat{
  position: relative;
}
.fontpassword_repeat input {
  z-index: 2;
}
#fontpassword_repeat{
  position: absolute; 
  left: 39%; 
  top: 43%; 
  color: rgba(204, 204, 204, 0.7);
  z-index: 1;
}

.container{
    text-align: center;
    margin-top: 10%;
}

.first_screen{
  position: relative;
  animation-name: start;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  animation-delay: 0.5s;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}


/* ##################################### */
/* ###### Set a style for buttons ###### */
/* ##################################### */
.signupbtn {
  position: relative;
  background: none;
  color: #43f149;
  padding: 14px 20px;
  margin: 8px 0;
  letter-spacing: 4px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  overflow: hidden;
  transition: 0.3s;
  transition-delay: 0.3s;
}
.signupbtn:hover{
  background-color: #43f149;
  color: black;
  box-shadow: 0 0 20px #43f149;
}
.cancelbtn {
  position: relative;
  background: none;
  padding: 14px 20px;
  margin: 8px 0;
  letter-spacing: 4px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  overflow: hidden;
  transition: 0.3s;
  transition-delay: 0.3s;
}
.cancelbtn a {
  color: #ff2222;
  /* transition: 0.2s ease-in-out; */
  transition-delay: 0.35s;
}
.cancelbtn:hover{
  background-color: #ff2222;
  box-shadow: 0 0 20px #ff2222;
  transition-delay: 0.3s;
}
.cancelbtn:hover a {
  color: #000;
}
.signupbtn:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-top: 2px solid #43f149;
  border-left: 2px solid #43f149;
  transition: 0.5s;
}
.signupbtn:hover:before{
  width: 100%;
  height: 100%;
}
.signupbtn:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid #43f149;
  border-right: 2px solid #43f149;
  transition: 0.5s;
}
.signupbtn:hover:after{
  width: 100%;
  height: 100%;
}
.cancelbtn:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 10px;
  height: 10px;
  border-top: 2px solid #ff2222;
  border-left: 2px solid #ff2222;
  transition: 0.5s;
}
.cancelbtn:hover:before{
  width: 100%;
  height: 100%;
}
.cancelbtn:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  border-bottom: 2px solid #ff2222;
  border-right: 2px solid #ff2222;
  transition: 0.5s;
}
.cancelbtn:hover:after{
  width: 100%;
  height: 100%;
}


.loginbtn:hover span{
  color: rgba(255, 255, 255, 1); 
}
.loginbtn::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #d4d4d418;
  background: linear-gradient(45deg, #00f, rgb(0, 195, 255), rgb(162, 0, 255), #00f, rgb(0, 195, 255), rgb(162, 0, 255));
  background-size: 400%;
  opacity: 0;
  transition: 0.5s;
  animation: animate 20s linear infinite;
}
.loginbtn::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #d4d4d418;
  background: linear-gradient(45deg, #00f, rgb(0, 195, 255), rgb(162, 0, 255), #00f, rgb(0, 195, 255), rgb(162, 0, 255));
  background-size: 400%;
  opacity: 0;
  filter: blur(20px);
  transition: 0.5s;
  animation: animate 20s linear infinite;
}
.loginbtn span::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background-color: #d4d4d418;
}
.loginbtn:hover::before,
.loginbtn:hover::after{
  opacity: 1;
}
@keyframes animate{
  0%{
    background-position: 0 0;
  }
  50%{
    background-position: 300% 0;
  }
  100%{
    background-position: 0 0;
  }
}
/* ##### END of style for buttons ##### */


/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  width: 48%;
  margin: 0 auto;
}

.loginbtn{
  background-color: #00457e;
  border: none;
  letter-spacing: 4px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 14.5%;
  padding: 0.7%;
  position: relative;
  cursor: pointer;
  font-size: 20px;
  transition: 0.5s;
}

.loginbtn span{
  position: absolute;
  display: block;
  background-color: #00457e;
  color: rgba(0, 0, 0, 1);
  border: none;
  top: 1px;
  left: 1px;
  right: 1px;
  bottom: 1px;
  text-align: center;
  transition: 0.5s;
  z-index: 1;
}
.loginbtn span a {
  color: #fff;
  padding: 10px;
  text-transform: uppercase;
  font-family: 'Aldrich', sans-serif;
}

.alreadyanaccount{
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(230, 230, 230);
  text-align: center;
}

.clearfix{
  display: flex;
  max-width: 30%;
  margin: 0 auto;
}

#err{
  border: solid red;
  background-color: rgba(255, 0, 0, 0.322);
  max-width: 40%;
  margin: 10px auto;
  border-radius: 8px;
}