/* ######################################### */


/* ############# FONTS ##################### */


/* ######################################### */


/*
font-family: 'Aldrich', sans-serif;
font-family: 'Audiowide', cursive;
font-family: 'Days One', sans-serif;
font-family: 'Kavivanar', cursive;
font-family: 'Michroma', sans-serif;
font-family: 'Orbitron', sans-serif;
font-family: 'Permanent Marker', cursive;
font-family: 'Wallpoet', cursive; 
*/


/* ######################################### */

* {
    max-width: 100%;
    height: auto;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    background: #000;
}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -99;
}


/*
########################################
############### TOP BAR ################
########################################
*/

.top_bar {
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 0.1vw;
    z-index: 1;
}

.top_bar nav {
    position: relative;
    display: flex;
    max-width: calc(100% - 200px);
    margin: 0 auto;
    height: 70px;
    align-items: center;
    justify-content: space-between;
}

.logo {
    position: absolute;
    /* max-width: 3%; */
    width: 170px;
    height: auto;
    margin: 0.8% 1%;
    transition: 0.3s ease;
    z-index: 1;
}
.logo:hover {
    width: 180px;
}

nav .top_content {
    display: flex;
    align-items: center;
    z-index: 0;
}

nav .top_content .links {
    margin-left: 80px;
    display: flex;
}

.top_content .links li {
    list-style: none;
    line-height: 70px;
    text-decoration: none;
}

.top_content .links li a,
.top_content .links li label {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 9px 17px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.top_content .links li label {
    display: none;
}

.top_content .links li a:hover,
.top_content .links li label:hover {
    background: rgba(255, 255, 255, 0.3);
}


/*#################################
###################################
###################################*/

.topbtn {
    position: fixed;
    color: black;
    text-transform: uppercase;
    margin: 2% auto;
    padding: 0.5% 3%;
    border: none;
    cursor: pointer;
    background: rgba(0, 255, 255, 0.788);
    transition: 0.5s;
}

.topbtn:hover {
    background: rgb(0, 255, 255);
    letter-spacing: 5px;
    transform: translateX(-10px);
}

#signupbtn {
    left: 87vw;
    font-weight: 1100;
    border-radius: 8px;
}
#logoutbtn {
    left: 86vw;
    border-radius: 8px;
}
#loginbtn {
    left: 76vw;
    border-radius: 8px;
}
#profilebtn {
    left: 73vw;
    border-radius: 8px;
}

.title {
    max-width: 55%;
    position: relative;
    margin-top: 8%;
    margin-left: auto;
    margin-right: auto;
    padding: 1%;
    text-align: center;
    z-index: -99;
    background-color: rgba(137, 43, 226, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 30px;
    /* border: solid rgba(255, 255, 255, 0.5); */
    box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.3);
}

h1 {
    position: relative;
    color: rgba(0, 255, 255, 0);
    font-size: 8vw;
    font-family: 'Wallpoet', cursive;
    text-transform: uppercase;
    z-index: 1;
    -webkit-text-stroke: 0.05vw rgba(0, 255, 255, 0.5);
}

h1::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    text-shadow: 3px 3px 5px;
    left: 0;
    width: 100%;
    height: 100%;
    color: rgba(0, 255, 255, 1);
    -webkit-text-stroke: 0.1vw rgb(0, 255, 255);
    overflow: hidden;
    animation: title 2s linear;
}

@keyframes title {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    70% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}


/* ############################### */
/* ############ CARDS ############ */
/* ############################### */

.body_card {
    position: relative;
    display: flex;
    max-width: 80%;
    font-family: 'Orbitron', sans-serif;
    margin: 0 0 0 18%;
    align-items: center;
    justify-content: center;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    flex-wrap: wrap;
    padding: 40px 0;
}
.container .box {
    position: relative;
    width: 320px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 30px;
    transition: 0.5s;
}
.container .box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50px;
    width: 50%;
    height: 100%;
    background: #fff;
    border-radius: 8px;
    transform: skewX(15deg);
    transition: 0.5s;
    background: linear-gradient(315deg, #03a9f4,#ff0058);
}
.container .box::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50px;
    width: 50%;
    height: 100%;
    background: #fff;
    border-radius: 8px;
    transform: skewX(15deg);
    transition: 0.5s;
    backdrop-filter: blur(10px);
    transition: 0.5s;
    background: linear-gradient(315deg, #03a9f4,#ff0058);
}
.container .box:hover::before,
.container .box:hover::after {
    transform: skewX(0deg);
    left: 20px;
    width: calc(100% - 90px);
}

.container .box span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    pointer-events: none;
}
.container .box span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.5s;
    animation: animate 2s ease-in-out infinite;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}
.container .box:hover span::before {
    top: -50px;
    left: 50px;
    width: 100px;
    height: 100px;
    opacity: 1;
}
.container .box span::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.5s;
    animation: animate 2s ease-in-out infinite;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
    animation-delay: -1s;
}
.container .box:hover span::after {
    bottom: -50px;
    right: 50px;
    width: 100px;
    height: 100px;
    opacity: 1;
}
@keyframes animate {
    0%,100%{
        transform: translateY(10px);
    }
    50%{
        transform: translateY(-10px);
    }
}

.container .box .content {
    position: relative;
    left: 0;
    padding: 20px 40px;
    background: rgba(0,0,0,0.05);
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    backdrop-filter: blur(10px);
    z-index: 1;
    transition: 0.5s;
    color: #fff;
}
.container .box:hover .content {
    left: -25px;
    padding: 60px 40px;
}

.container .box .content .form {
    letter-spacing: 1.5px;
}

.buy {
    position: relative;
    padding: 8px 20px;
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    border: none;
    border-radius: 20px;
    text-decoration: none;
    letter-spacing: 5px;
    font-family: 'Orbitron', sans-serif;
    font-size: 1em;
    font-weight: 900;
    left: 180px;
    transform: translateY(50px);
    opacity: 0;
    transition: 1s ease;
    transition-delay: 0.3s;
}
.container .box:hover .buy {
    transform: translateY(0px);
    opacity: 1;
    cursor: pointer;
}
.container .box .buy:hover {
    background: rgba(255, 255, 255, 0.5);
}
.form-search {
    color: #fff;
    align-items: center;
    margin: 20px;
    font-family: 'Orbitron', sans-serif;
}
.form-search button {
    padding: 10px;
    background: rgb(0, 255, 255, 0.8);
    border: none;
    border-radius: 4px;
    margin-left: 10px;
    transition: 0.5s;
}
.form-search button:hover {
    cursor: pointer;
    background: rgb(0, 255, 255);
}
.error, 
.result {
    margin: 0;
    padding: 10px;
    position: relative;
    top: 100px;
    border-radius: 8px;
    backdrop-filter: blur(10px);
}
.error {
    border: solid red;
    background-color: rgba(255, 0, 0, 0.322);
    max-width: 170px;
}
.result {
    max-width: 300px;
}

/* FOOTER */

footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    padding: 5px;
    background: #000;
    text-align: center;
    color: #fff;
    font-family: 'Orbitron', sans-serif;
    transition: 0.5s;
}
footer:hover {
    cursor: pointer;
    background: #fff;
    color: #000;
    font-family: 'Orbitron', sans-serif;
    letter-spacing: 10;
}