/* #### TREE STYLE #### */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
    text-decoration: none;
}

body {
    background-color: #f7ebff;
}


/* TOP TITLE */
.top_title {
    margin: 20px auto 30px;
    padding: 10px;
    width: 25%;
    text-align: center;
    color: white;
    background-color: black;
    border: solid #fff 1px;
    border-radius: 10px;
    box-shadow: 0 5px 10px black;
}

.top_title h1 {
    text-decoration: underline;
    margin: 0 0 10px 0;
    font-size: 2vw;
}

.top_title p {
    margin: 10px 0 0 0;
    font-size: 1vw;
}
/* ##### */



/* LINK BUTTON */
.links {
    width: 15%;
    margin: 0 auto 30px;
    padding: 5px;
    border: solid white 1px;
    border-radius: 10px;
    box-shadow: 0 5px 10px black;
    background-color: black;
    text-align: center;
}

.links a {
    text-decoration: none;
    color: white;
    font-size: 1vw;
}

.links a:hover {
    text-decoration: underline;
}
/* ##### */



/* TREE DIV */
.tree {
    margin: auto;
    width: 60%;
    background-color: black;
    border: solid white 1px;
    border-radius: 10px;
    box-shadow: 0 5px 10px black;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

.tree_dps {
    margin: 10px;
    width: 20%;
    order: 0;
    border-radius: 10px;
    background-color: white;
    color: black;
    padding: 10px;
}

.tree_dps div {
    width: 100%;
    font-size: 1vw;
    margin: 5px auto;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.tree_infos {
    order: 1;
    border-radius: 10px;
    color: black;
    background-color: white;
    text-align: center;
    margin: 10px 10px;
    padding: 10px;
}

.tree_infos img {
    width: 90%;
}

#parcours_para {
    text-decoration: underline;
}
/* ##### */