body {
    top: 0;
    left: 0;
    width: 100%;
    background: #000;
    color: #fff;
    font-family: 'Aldrich', sans-serif;
    align-content: center;
    align-items: center;
    overflow-x: hidden;
}

.profile-pic-div {
    text-align: center;
    margin: 2% 2%;
}
.profile-pic-div img {
    max-width: 200px;
    border-radius: 50%;
    transition: 0.5s ease;
}
.profile-pic-div img:hover {
    transform: rotate(360deg);
}

#user {
    margin-left: auto;
    margin-right: auto;
    background: rgba(255, 255, 255, 0.1);
    padding: 50px;
    border-radius: 15px;
    width: 50%;
}
h1 {
    text-align: center;
    text-transform: uppercase;
}

.inventory {
    margin: 20px auto;
    padding: 20px;
    max-width: 80%;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
}
h2 {
    text-align: center;
}
.links {
    position: fixed;
    width: 35%;
    top: 1%;
    left: 0;
    height: 50px;
}
.links a {
    background-color: rgb(0, 255, 255, 0.8);
    line-height: 50px;
    margin: 0 3%;
    padding: 2% 8%;
    color: #000;
    text-align: center;
    border-radius: 15px;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.5s ease;
    letter-spacing: 2px;
    z-index: 1;
}
.links a:hover {
    cursor: pointer;
    background-color: rgb(0, 255, 255, 1);
    letter-spacing: 5px;
}

.error {
    border: solid red;
    background-color: rgba(255, 0, 0, 0.322);
    max-width: 250px;
    border-radius: 8px;
    text-align: center;
    margin: 10px auto;
    padding: 10px;
}


/* ####################################### */
/* ######### INVENTORY / CARDS ########### */
/* ####################################### */

.inventory {
    position: relative;
    display: flex;
    min-height: 50vh;
    background-color: rgba(255, 255, 255, 0.1);
    max-width: 80%;
    margin: 0 10%;
    border-radius: 15px;
    color: #fff;
    font-family: 'Orbitron', sans-serif;
    align-items: center;
    justify-content: center;
}
.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    flex-wrap: wrap;
    padding: 40px 0;
}
.container .box {
    position: relative;
    width: 350px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 30px;
    transition: 0.5s;
}
.container .box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50px;
    width: 50%;
    height: 100%;
    background: #fff;
    border-radius: 8px;
    transform: skewX(15deg);
    transition: 0.5s;
    background: linear-gradient(315deg, #03a9f4,#ff0058);
}
.container .box::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50px;
    width: 50%;
    height: 100%;
    background: #fff;
    border-radius: 8px;
    transform: skewX(15deg);
    transition: 0.5s;
    backdrop-filter: blur(10px);
    transition: 0.5s;
    background: linear-gradient(315deg, #03a9f4,#ff0058);
}
.container .box:hover::before,
.container .box:hover::after {
    transform: skewX(0deg);
    left: 20px;
    width: calc(100% - 90px);
}
.container .box span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    pointer-events: none;
}
.container .box span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.5s;
    animation: animate 2s ease-in-out infinite;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
}
.container .box:hover span::before {
    top: -50px;
    left: 50px;
    width: 100px;
    height: 100px;
    opacity: 1;
}
.container .box span::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.5s;
    animation: animate 2s ease-in-out infinite;
    box-shadow: 0 5px 15px rgba(0,0,0,0.05);
    animation-delay: -1s;
}
.container .box:hover span::after {
    bottom: -50px;
    right: 50px;
    width: 100px;
    height: 100px;
    opacity: 1;
}
@keyframes animate {
    0%,100%{
        transform: translateY(10px);
    }
    50%{
        transform: translateY(-10px);
    }
}
.container .box .content {
    position: relative;
    left: 0;
    padding: 20px 40px;
    background: rgba(0,0,0,0.05);
    box-shadow: 0 5px 15px rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    backdrop-filter: blur(10px);
    z-index: 1;
    transition: 0.5s;
    color: #fff;
}
.container .box:hover .content {
    left: -25px;
    padding: 60px 40px;
}
.container .box .content .cars {
    max-width: 300px;
}
.container .box .content .form-info {
    letter-spacing: 1.5px;
}
.cards-btn {
    display: flex;
}
.buy {
    position: relative;
    padding: 8px 20px;
    margin-top: 20px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    border: none;
    border-radius: 20px;
    text-decoration: none;
    letter-spacing: 5px;
    font-family: 'Orbitron', sans-serif;
    font-size: 1em;
    font-weight: 900;
    transform: translateY(50px);
    opacity: 0;
    transition: 1s ease;
    transition-delay: 0.3s;
}
.buy {
    left: 10%;
}

.container .box:hover .buy {
    transform: translateY(0px);
    opacity: 1;
    cursor: pointer;
}

.container .box .buy:hover {
    background: rgba(255, 255, 255, 0.5);
}