<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Ze Garage</title>
        <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='img/icon.ico') }}" />
        <link rel="stylesheet" href="/static/about_style.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Aldrich&family=Audiowide&family=Days+One&family=Kavivanar&family=Michroma&family=Orbitron&family=Permanent+Marker&family=Wallpoet&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/9015f8bea1.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="links">
            <a href="/">Return Home</a>
        </div>
        <div id="right"></div>
        <div id="left"></div>
        <div class="about">
            <div class="dev" id="EnderNight">
                <img class="logo" src="/static/img/_Ender_Night_Logo.png" alt="_Ender_Night_Logo">
                <h1>_Ender_Night_</h1>
                <p class="description">
                    French student from Angers, _Ender_Night_ is new to the developer world. <br>
                    He developed the back end of this website.
                </p>
            </div>
            <div class="dev" id="PapyRuss">
                <img class="logo" src="/static/img/Logo_PapyRuss_V1.png" alt="PapyRuss_Logo">
                <h1>PapyRuss</h1>
                <p class="description">
                    French student from Angers, PapyRuss is new to the developer world. <br>
                    He developed the front end of this website.
                </p>
            </div>
        </div>
    </body>
    <script type="text/javascript" src="/static/vanilla-tilt.js"></script>
    <script type="text/javascript">
        VanillaTilt.init(document.querySelectorAll(".dev"),{
            max: 20,
            speed: 400,
            glare: true,
            "max-glare": 0.5,
            scale: 1.1,
            perspective: 900,
            transition: true,
        });
    </script>
</html>
