<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Ze Garage</title>
        <script src="{{ url_for('static', filename='script.js')}}"></script>
        <link rel="stylesheet" href="/static/car_style.css">
        <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='img/icon.ico') }}" />
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Aldrich&family=Audiowide&family=Days+One&family=Kavivanar&family=Michroma&family=Orbitron&family=Permanent+Marker&family=Wallpoet&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/9015f8bea1.js" crossorigin="anonymous"></script> 
    </head>

    <body>
        <div class="content">
            <div class="car-infos">
                <!-- {% for i in inventory %} -->
                <img class="cars" src="/static/img/2.png">
                <!-- {% endfor %} -->
                <p>
                    MODEL : {{ car_info[10] }} <br>
                    PRICE : {{ car_info[9] }} $
                    {% if car_info[13] == 1 %}
                    <br> <br> is in sell for {{ car_info[14] }} $
                    {% endif %}
                </p>
    
            </div>
    
            <div class="form-sell">
                <form action="" method="POST">
                    {% if car_info[13] %}
                    <input type="hidden" name="cancel" value="{{ car_info }}">
                    <input id="cancel" type="submit" value="CANCEL THE SELL">
    
                    {% else %}
                    <input type="hidden" name="car" value="{{ car_info }}">
                    <label>Sell for users :
                        <input type="checkbox" id="check" onclick="sell_choice('{{ car_info[9] *drop }}')"> <br>
                    </label>
                    <input type="number" id="price" name="price" placeholder="Enter Price" style="display: none;">
                    <input type="submit" id="submit" value="SELL FOR {{ car_info[9] *drop }} $">
                    {% endif %}
                </form>
            </div>
            <div class="links">
                <a href="/profile">Return Profile</a>
            </div>
        </div>
    </body>


</html>