<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Ze Garage</title>
        <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='img/icon.ico') }}" />
        <link rel="stylesheet" href="/static/confirm_buy_style.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Aldrich&family=Audiowide&family=Days+One&family=Kavivanar&family=Michroma&family=Orbitron&family=Permanent+Marker&family=Wallpoet&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/9015f8bea1.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="confirm_div">
            <div class="infos-car">
                <section class="left">
                    BRAND : {{ product[1] }} <br>
                    CATEGORY : {{ product[3] }} <br>
                    SIZE : {{ product[5] }} <br>
                    OPTION : {{ product[7] }} <br>
                    MODEL : {{ product[10].capitalize() }} <br>
                </section>
                <section class="right">
                    TYPE : {{ product[2] }} <br>
                    ENGINE : {{ product[4] }} <br>
                    COLOR : {{ product[6] }} <br>
                    RANGE : {{ product[8] }} <br>
                </section>   
            </div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="error">
                {{ messages[0] }}
            </div>
            {% endif %}
            {% endwith %}
            <div class="form">
                <form action="" method="POST">
                    <input type="hidden" name="item" value="{{ product }}">
                    <input type="submit" value="BUY for {{ product[9] }} $">
                </form>
            </div>

            <div class="links">
                <a href="/shop">Return Shop</a>
            </div>
        </div>
    </body>
</html>
