<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ze Garage</title>
    <link rel="stylesheet" href="/static/edit_profile_style.css">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='img/icon.ico') }}" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Aldrich&family=Audiowide&family=Days+One&family=Kavivanar&family=Michroma&family=Orbitron&family=Permanent+Marker&family=Wallpoet&display=swap" rel="stylesheet">
</head>

<body>
    <h1>EDIT YOUR PROFILE, {{ name }}</h1>
    <form action="" method="POST" enctype="multipart/form-data" onsubmit="return validateForm()">
        <div class="presentation">
            <p>Fill all the information you want to change and leave the one you don't want to.</p>
        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="error">
            {{ messages[0] }}
        </div>
        {% endif %}
        {% endwith %}
        <div class="input">
            <label for="email">Change Email :</label>
            <input type="email" placeholder="Edit Your Email" name="email" value="{{ email }}"><br>

            <label for="name">Change Name :</label>
            <input type="text" placeholder="Edit Your Name" name="name" value="{{ name }}" multiple><br>

            <label for="pp">Change Profile Picture :</label>
            <input class="btn" type="file" name="pp"><br>

            <input class="btn" type="submit" value="Save">
        </div>
    </form>

    <div class="goback">
        <p>Go back to your <a href="/profile">profile</a> without changes</p>
    </div>
</body>

</html>
