<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ze Garage</title>
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='img/icon.ico') }}" />
    <link rel="stylesheet" href="/static/home_style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Aldrich&family=Audiowide&family=Days+One&family=Kavivanar&family=Michroma&family=Orbitron&family=Permanent+Marker&family=Wallpoet&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9015f8bea1.js" crossorigin="anonymous"></script>
</head>

<body>
    <video autoplay muted loop id="myVideo">
        <source src="/static/img/background-video.mp4" type="video/mp4">
    </video>
    <div class="top_bar">
        <a href="#"><img class="logo" src="../static/img/logo_off.png" alt="logo"></a>
        <nav>
            <div class="top_content">
                <ul class="links">
                    <li><a href="/">Home</a></li>
                    {% if connected == true %}
                    <li><a href="/shop">Shop</a></li>
                    {% endif %}
                    <li><a href="/about">About</a></li>
                    <li><a href="#">Chat</a></li>
                </ul>

                {% if connected == False %}
                <a href="/signup" id="signupbtn" class="topbtn"><b>Sign up</b></a>
                <a href="/login" id="loginbtn" class="topbtn"><b>Login</b></a>
                {% else %}
                <a href="/logout" id="logoutbtn" class="topbtn"><b>Logout</b></a>
                <a href="/profile" id="profilebtn" class="topbtn"><b>Profile</b></a>
                {% endif %}
            </div>
        </nav>
    </div>
    <div class="title">
        <h1 data-text="Welcome"><b>Welcome</b></h1>
        <h2>To Ze Garage</h2>
    </div>
    <div class="content">
        <h3>How it works ?</h3>
        <div class="presentation">
            <p>
                Here you can : <br><br>
                Buy cars on the <a href="/shop">shop</a>.
                You can also edit your profile, visit users profile and buy cars that users wanna sell.

            </p>
            <br>
            <p class="paragraph">
                Born from a peace of friendship, this webapp will be upgraded regularly in order to offer you the best user experience. 
            </p>
        </div>

    </div>
    <footer onclick="window.location=('/about')">
       <p> &#xA9; By _Ender_Night_ & PapyRuss</p>
    </footer>
</body>

</html>
