<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ze Garage</title>
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='img/icon.ico') }}" />
    <link rel="stylesheet" href="../static/login_style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Aldrich&family=Audiowide&family=Days+One&family=Kavivanar&family=Michroma&family=Orbitron&family=Permanent+Marker&family=Wallpoet&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9015f8bea1.js" crossorigin="anonymous"></script>
  </head>
    <body>
      <video autoplay muted loop id="myVideo">
        <source src="/static/img/background-video.mp4" type="video/mp4">
      </video>
      

      <form action="" method="POST">
        <div class="first_screen">
          <div class="container">
            {% if err == True %}
            <div id="err">
              <p>Email or password do not match, try again or <a href="/signup">Sign up</a> if you don't have an account yet</p>
            </div>
            {% endif %}
              <h1 id="sign_up_title">Login</h1>
              <p id="fill_form">Please fill in this form to login.<br/></p>
              
              <div class="fontuser">
                <label for="email"><b> Email</b><br></label>
                <input type="email" placeholder="Enter Email" name="email" required>
                <i id="fontemail" class="fas fa-envelope"></i> 
              </div><br>
              <div class="fontpassword">
                <label for="psw"><b> Password</b><br></label>
                <input type="password" placeholder="Enter Password" name="password" required>
                <i id="fontpassword" class="fa fa-key fa-lg"></i> 
              </div>
          </div>
      
          <div class="clearfix">
            <button type="button" class="cancelbtn" onclick="window.location.href='/'"><a href="/"><b>CANCEL</b></a></button>
            <button type="submit" class="signupbtn"><b class="signup">LOGIN</b></button>
          </div>
        </div>
      </form>
    </body>
</html>
