<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ze Garage</title>
    <link tpye="text/css" rel="stylesheet" href="/static/profile_style.css">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='img/icon.ico') }}" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Aldrich&family=Audiowide&family=Days+One&family=Kavivanar&family=Michroma&family=Orbitron&family=Permanent+Marker&family=Wallpoet&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9015f8bea1.js" crossorigin="anonymous"></script> 
</head>

<body>
    <video autoplay muted loop id="myVideo">
        <source src="/static/img/background-video.mp4" type="video/mp4">
    </video>
    <h1>Welcome,<br> {{ name.capitalize() }}</h1>
    <div class="links">
        <a href="/logout">Logout</a>
        <a href="/">Return Home</a>
    </div>
    {% if new == 1 %}
    <div class="profile-pic-div">
        <img src="/static/profile_pictures/blank_profile-picture.png">
    </div>
    {% else %}
    <div class="profile-pic-div">
        <img src="/static/profile_pictures/{{ id }}.jpg" id="photo">
    </div>
    {% endif %}
    <div class="infos-div">
        <div class="infos">
            <h3>Global infos :</h3>
            <p>
                Email : {{ email }} <br>
                Name : {{ name.capitalize() }} <br>
                Age : {{ age }} day(s) <br>
                Money : {{ money }} $ <br>
                Number Of Cars : {{ nb_car }} <br>
                Last Connected : {{ date[0] }} at {{ date[1] }}
            </p>
        </div>
        <div class="new">
            {% if new == 1 %}
            <p>It looks like you are new ! You should <a href="/profile/edit">complete your profile</a></p>
            {% else %}
            <p>You can edit your profile <a href="/profile/edit">here</a></p>
            {% endif %}
        </div>
    </div>
    {% if inventory %}
    <h2>INVENTORY :</h2>
    <p class="percent">Today's percentage drop : {{ drop *100}}% !</p><br>
    <div class="inventory">
        <div class="container">
            {% for i in inventory %}
            <div class="box">
                <span></span>
                <div class="content">
                    <h2>{{ i[10].capitalize() }}</h2>
                    <img class="cars" src="static/img/{{ i[0] }}.png">
                    <div class="form-info">
                        <form action="" method="POST">
                            BRAND : {{ i[1] }} <br>
                            MODEL : {{ i[10].capitalize() }}
                            {% if i[13] == 1 %}
                            <br> is in sell for {{ i[14] }} $
                            {% endif %}
                            <br>
                            <input type="hidden" name="car" value="{{ i }}">
                            <input class="infos-btn" type="submit" value="INFOS" placeholder="Search for cars">
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}

    <div class="search_user">

        <h2>USERS :</h2>

        <div class="form">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="error">
                {{ messages[0] }}
            </div>
            {% endif %}
            {% endwith %}
            <form action="" method="POST">
                {% if result %}
                <div class="resutl">
                    <p>Results for : "{{ result }}"</p>
                </div>
                {% endif %}
                <label for="search">SEARCH FOR USERS :</label>
                <input type="search" name="search" placeholder="search here">
            </form>
        </div>

        {% for i in users %}
        <div class="form-car">
            <form action="" method="POST">
                NAME : {{ i[2].capitalize() }} <br>
                EMAIL : {{ i[1] }} <br>

                <input type="hidden" name="user" value="{{ i }}">
                <input type="submit" value="VISIT">
            </form>
        </div>
        {% endfor %}

    </div>
    <div class="trees">
        <p>Want to know more about the tree route ? Click on this <a href="/tree">link</a> !</p>
    </div>
</body>

</html>
