<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ze Garage</title>
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='img/icon.ico') }}" />
    <link rel="stylesheet" href="../static/shop_style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Aldrich&family=Audiowide&family=Days+One&family=Kavivanar&family=Michroma&family=Orbitron&family=Permanent+Marker&family=Wallpoet&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9015f8bea1.js" crossorigin="anonymous"></script>
</head>

<body>
    <video autoplay muted loop id="myVideo">
        <source src="/static/img/shop-background-_video.mp4" type="video/mp4">
    </video>
    <div class="top_bar">
        <a href="/"><img class="logo" src="../static/img/logo_off.png" alt="logo"></a>
        <nav>
            <div class="top_content">
                <ul class="links">
                    <li><a href="/">Home</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="#">Chat</a></li>
                </ul>
                <a href="/logout" id="logoutbtn" class="topbtn"><b>Logout</b></a>
                <a href="/profile" id="profilebtn" class="topbtn"><b>Profile</b></a>
            </div>
        </nav>
    </div>
    <div class="title">
        <h1 data-text="Ze Shop"><b>Ze Shop</b></h1>
    </div>

    <div class="form-search">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="error">
            {{ messages[0] }}
        </div>
        {% endif %}
        {% endwith %}
        {% if result %}
        <div class="result">
            <p>Results for : "{{ result }}"</p>
        </div>
        {% endif %}
        <form action="" method="POST">
            <input type="search" name="search" placeholder="Search for cars">
            <button class="search" type="submit"><i class="fas fa-search"></i></button>
        </form>
    </div>

    <div class="body_card">
        <div class="container">
            {% for i in products %}
            <div class="box">
                <span></span>
                <div class="content">
                    <h2>{{ i[10].capitalize() }}</h2>
                    <img class="cars" src="static/img/{{ i[0] }}.png">
                    <div class="form">
                        <form action="" method="POST">
                            BRAND : {{ i[1] }} <br>
                            MODEL : {{ i[10].capitalize() }} <br>
                            PRICE : {{ i[9] }} $ <br>
                            <input type="hidden" name="car" value="{{ i }}">
                            <input class="buy" type="submit" value="BUY">
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>
    <footer onclick="window.location=('/about')">
        <p> &#xA9; By _Ender_Night_ & PapyRuss</p>
     </footer>
</body>
<script type="text/javascript" src="../static/script.js"></script>
</html>
