<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ze Garage</title>
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='img/icon.ico') }}" />
    <link rel="stylesheet" href="../static/login_style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Aldrich&family=Audiowide&family=Days+One&family=Kavivanar&family=Michroma&family=Orbitron&family=Permanent+Marker&family=Wallpoet&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9015f8bea1.js" crossorigin="anonymous"></script>
  </head>

    <body>
      <video autoplay muted loop id="myVideo">
        <source src="/static/img/background-video.mp4" type="video/mp4">
      </video>
      
      <form action="" method="POST">
        <div class="first_screen">
          <div class="container">
            {% if result == True%}
            <div id="err">
              <p>This email is already in use, please choose another one or login by clicking here :</p>
            </div>
            <div class="loginbtn">
              <span>
                <a href="/login">Login</a>
              </span>
            </div>
            {% endif %}
              <h1 id="sign_up_title">Sign Up</h1>
              <p id="fill_form">Please fill in this form to create an account.<br/></p>
              
              <div class="fontuser">
                <label for="email"><b> Email</b><br></label>
                <input type="email" placeholder="Enter Email" name="email" required autofocus="">
                <i id="fontemail" class="fas fa-envelope"></i> 
              </div>
              <br>
              <div class="fontpassword">
                <label for="name"><b> Name</b><br></label>
                <input type="text" placeholder="Enter Your Name" name="name" required autofocus="">
                <i id="fontpassword" class="fa fa-key fa-lg"></i> 
              </div>
          
              <div class="fontpassword_repeat">
                <label for="password"><b> Password</b><br></label>
                <input type="password" placeholder="Enter Password" name="password" required autofocus="">
                <i id="fontpassword_repeat" class="fa fa-key fa-lg"></i> 
              </div>

              <p id="terms">By creating an account you agree to our <a href="https://static.fermedebeaumont.com/images/poules-coqs-race/naines/padoue-argentee-coq-reproducteur-portrait.jpg" style="color:dodgerblue" target="blank">Terms & Privacy</a>.</p>
          </div>
      
          <div class="clearfix">
            <button type="reset" class="cancelbtn" onclick="window.location.href='/'"><a class="linkbtn" href="/"><b>CANCEL</b></a></button>
            <button type="submit" class="signupbtn"><b class="signup">SIGN UP</b></button>
          </div>
        </div>
      </form>
    </body>
</html>
