<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Ze Garage</title>
        <link rel="stylesheet" href="/static/tree_style.css">
        <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='img/icon.ico') }}">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Aldrich&family=Audiowide&family=Days+One&family=Kavivanar&family=Michroma&family=Orbitron&family=Permanent+Marker&family=Wallpoet&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/9015f8bea1.js" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </head>

    <body>

        <div class="top_title">
            <h1>Tree Route</h1>
            <p>Here you can test 3 different tree courses in DPS:</p>
        </div>

        <div class="links">
            <a href="/profile">RETURN PROFILE</a>
        </div>

        <div class="tree">
            <div class="tree_dps">
                <div id="postfixe_form" style="display: flex;">
                    <p>POSTFIXE</p>
                    <input id="postfixe" type="checkbox" onclick="trees()">
                </div>

                <div id="infixe_form" style="display: flex;">
                    <p>INFIXE</p>
                    <input id="infixe" type="checkbox" onclick="trees()">
                </div>

                <div id="prefixe_form" style="display: flex;">
                    <p>PREFIXE</p>
                    <input id="prefixe" type="checkbox" onclick="trees()">
                </div>
            </div>

            <div class="tree_infos">
                <p>This is the tree :</p>
                <img src="/static/tree.png">
                <div id="parcours_para" style="display: none;">
                    <p id="postfixe_div" style="display: none;">Here is a route postfixe : {{ postfixe }}</p>
                    <p id="infixe_div" style="display: none;">Here is a route infixe : {{ infixe }}</p>
                    <p id="prefixe_div" style="display: none;">Here is a route prefixe : {{ prefixe }}</p>
                </div>
            </div>
        </div>
    </body>

</html>
