<!DOCTYPE html>


<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Ze Garage</title>
        <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='img/icon.ico') }}" />
        <link tpye="text/css" rel="stylesheet" href="/static/user_style.css">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Aldrich&family=Audiowide&family=Days+One&family=Kavivanar&family=Michroma&family=Orbitron&family=Permanent+Marker&family=Wallpoet&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/9015f8bea1.js" crossorigin="anonymous"></script> 
    </head>


    <body>
        <div class="links">
            <a href="/logout">Logout</a>
            <a href="/profile">Return Profile</a>
        </div>
        {% if new == 0 %}
        <div class="profile-pic-div">
            <img src="/static/profile_pictures/{{ user_id }}.jpg" id="photo">
        </div>
        {% else %}
        <div class="profile-pic-div">
            <img src="{{ url_for('static', filename='profile_pictures/blank_profile-picture.png') }}" id="photo">
        </div>
        {% endif %}
        
        <div id="user">
            <h1>{{ user[2].capitalize() }}</h1>
            <p id="infos">
                Email : {{ user[1] }} <br>
                Name : {{ user[2].capitalize() }} <br>
                Age : {{ age }} day(s) <br>
                Money : {{ user[5] }} $ <br>
                Number Of Cars : {{ nb_car }} <br>
            </p>
        </div>

<!-- INVENTAIRE -->
        {% if inventory %}
        <h2>{{ user[2].capitalize() }}'s inventory :</h2>
        {% endif %}
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="error">
            {{ messages[0] }}
        </div>
        {% endif %}
        {% endwith %}
        <div class="inventory">
            
            <div class="container">
                {% for i in inventory %}
                <div class="box">
                    <span></span>
                    <div class="content">
                        <h2>{{ i[10].capitalize() }}</h2>
                        <img class="cars" src="/static/img/{{ i[0] }}.png">
                        <div class="form-info">
                            <form action="" method="POST">
                                BRAND : {{ i[1] }} <br>
                                MODEL : {{ i[10].capitalize() }}
                                {% if i[13] == 1 %}
                                <br> is in sell for {{ i[14] }} $ <br>
                                <div class="cards-btn">
                                    <input type="hidden" name="car" value="{{ i }}">
                                    <input class="buy" type="submit" value="BUY">
                                {% endif %}
                                </div>
                            </form>
                            
                        </div>
                        
                    </div>
                    
                </div>
                {% endfor %}
            </div>
            
        </div>
        

    </body>



</html>
